---
---

@import "{{ site.theme }}";

.page-header{
}

h1.project-name{
  font-size:1.5em;
}

nav.site-header ul{
  padding:0;
}

nav.site-header li{
  display:inline-block; 
  margin:0;
  border-right:solid 1px #fff;
  padding:0 1em;
}

nav.site-header li:last-child{
  display:inline-block; 
  margin:0;
  border:none;
  padding:0;
  padding-left:1em;
}

.page-header a{
  color:#fff;
}

.week{
  border-right: solid 2px #eff0f1;
  padding:0 0.3em;
}

.week:last-child{
  border:none;
}

.my-posts{
      border-bottom:solid 1px #eff0f1;
  margin-bottom:2rem;
}
  .my-posts h4:first-child{
    padding-bottom:0.2em;
    border-bottom:solid 1px #eff0f1;
  }

.current-week{
  background-color:yellow;
}
  
@media (min-width:64em){
  .main-content {
    padding: 2rem 4rem;
  }
  .page-header{
    padding:4rem 4rem;
  }
  
  h1.project-name{
  float:left;
}
nav.site-header{
  float:right;
}
.my-posts{
  float:right;
  width:16rem;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  font-size:smaller;
  background-color:#fff;

}
  

.my-posts ul{
  padding-left:1rem;
  }
.content{
  width:37rem;
}
}
